
@{

}

<h2 class="section-heading detailsBlock">About</h2>
<p>Thanks to <a href="https://www.themoviedb.org/">The Movie Database (TMDb)</a> for their amazing Api!</p>
<p>This web application was built using ASP.NET MVC, ASP.NET Web Api, Sql Server, HTML, CSS, Bootstrap, Javascript, jquery and AngularJS</p>
