
@{

}
<div class="intro-text">
    <div ng-app="movieModule">
        <div class="intro-heading">Welcome to the Movie Catalog</div>

        <div ng-controller="searchController as dashboard">
            <div style="width:100%">
                <input type="text"
                       ng-model="dashboard.searchCriteria.selectedMovie"
                       placeholder="Search Movies"
                       uib-typeahead="movie.title for movie in dashboard.searchMovies($viewValue)"
                       typeahead-min-length="1"
                       typeahead-template-url="itemTpl.html"
                       typeahead-on-select="dashboard.setMovieInfo($item, $model, $label, $event)"
                       class="form-control"
                       ng-enter="dashboard.detailsPage()" />
                <div class="intro-lead-in">Search for a Movie!</div>
                <button type="button" class="page-scroll btn btn-xl" ng-click="dashboard.detailsPage()">Search</button>
            </div>
            <script type="text/ng-template" id="itemTpl.html">
                <a>
                    <div style="width:800px">
                        <img ng-src="https://image.tmdb.org/t/p/w45{{match.model.poster_path}}" width="45" height="68" ng-if="match.model.poster_path">
                        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span><span style="float:right">{{match.model.release_date}}</span>
                    </div>
                </a>
            </script>
        </div>
    </div>
    </div>
    @section Scripts{
        <script src="~/Scripts/Services/movieModule.js"></script>
        <script src="~/Scripts/Services/movieServices.js"></script>
        <script src="~/Scripts/Services/ngEnterDirective.js"></script>
        <script type="text/javascript">



            //Angular controller creation
            (function () {
                "use strict"

                angular.module("movieModule")
                    .controller("searchController", SearchController);

                SearchController.$inject = ["$scope", "$filter", "$http", "$window"];

                function SearchController($scope, $filter, $http, $window) {
                    var vm = this;
                    vm.$scope = $scope;
                    vm.$filter = $filter;
                    vm.$http = $http;
                    vm.$window = $window;
                    vm.searchCriteria = {};
                    vm.selectedMovie = {};

                    //properties
                    vm.searchResults = null;


                    //callback functions
                    vm.searchMovies = _searchMovies;
                    vm.onSearchSuccess = _onSearchSuccess;
                    vm.onSearchError = _onSearchError;
                    vm.setMovieInfo = _setMovieInfo;
                    vm.detailsPage = _detailsPage;
                    //vm.movieStatusSuccess = _movieStatusSuccess;
                    //vm.movieStatusError = _movieStatusError;

                    function _searchMovies(value) {
                        return vm.$http({
                            method: "GET",
                            url: "/api/movie/searchExternalMovie/"+value
                        }).then(vm.onSearchSuccess, vm.onSearchError);
                    }

                    function _onSearchSuccess(response) {
                        vm.searchResults = response.data.results;
                        return vm.$filter('limitTo')(response.data.results, 6);
                    }

                    function _onSearchError(response) {
                        vm.onSearchError = response.data;
                    }

                    function _setMovieInfo(item, model, label, event) {
                        console.log(item);
                        vm.selectedMovie = item;
                    }

                    function _detailsPage() {
                        vm.$window.location.href = "/Movie/Details/" + vm.selectedMovie.id;
                        ////checks if movie is present in db ajax call
                        //return vm.$http({
                        //    method: "GET",
                        //    url: "/api/movie/getMovieStatus/" + vm.selectedMovie.id,
                        //}).then(vm.movieStatusSuccess, vm.movieStatusError)
                    }

                    //function _movieStatusSuccess(response) {
                    //    if (response.data) {
                    //        //movie already present in db, so direct user to different view that gives the user the option of removing from movie from their list to watch.
                    //    } else {
                    //        //movie not in db, so give user the opporunity to insert this movie to the db.
                    //        vm.$window.location.href = "/Movie/Details/" + vm.selectedMovie.id;
                    //    }
                    //}

                    //function _movieStatusError() {
                    //    console.log("a movie status api error occured");
                    //}
                }
            })();
        </script>
    }
